{% extends 'base.html' %}
{% block title %}
Post Rating
{% endblock title %}
{% block content %}
<h1>Рейтинг постов</h1>
<p class="mytextclass">
  Самые коментируемые посты
</p>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">пост</th>
        <th scope="col">Количество коментариев</th>
        <th scope="col">Средний рейтинг</th>
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <td><a href="{% url 'discussions:post_detail' post.id %}">{{ post.text|slice:":13" }}</a></td>
            <td>{{ post.comments.count }}</td>
            <td>{{ post.average_rating }}</td>
        </tr>

    {% endfor %}

    </tbody>
  </table>



{% endblock %}